/*container for table and canvas*/
.center-container {
    width: 608px; /*this property sets the width of our container*/
    margin: 0 auto; /*centers container*/
    margin-top: 50px; /*50px down from top*/
}

table {
    /*this property collapses table borders into 1 border*/
    border-collapse: collapse;
    border-style: hidden; /*hides outer borders on table*/
}

td {
  cursor: pointer; /*changes cursor*/
  border: 4px solid lightseagreen; /*sets table border*/
  padding: 0px; /*removes default padding*/
  width: 200px;
  height: 200px;  
}

canvas {
    position: absolute; /*sets position of canvas to the top left corner of container*/
    z-index: 10; /*places canvas over top of table*/
    pointer-events: none; /*makes canvas invisible*/
}

h1 {
    text-align: center;
}
